header,
main,
footer{
    width: 100vw;
}

body {

  /* 102px margin-top top compensate for fixed header */
  margin: 102px 0 0;
  /* But on small screen with hamburger menu the header is shorter */
  @media screen and (max-width: 575px) {
    margin: 66px 0 0;
  }

  line-height: 130%;
  /* do not allow horizontal scroll */
  overflow-x: hidden;
}



