header,
main,
footer {
  width: 100vw;
}

body {
  background-color: rgba(165, 42, 42, 0.8);
  /* 102px margin-top top compensate for fixed header */
  margin: 102px 0 0;

  /* But on small screen with hamburger menu the header is shorter */
  @media screen and (max-width: 575px) {
    margin: 66px 0 0;
  }

  line-height: 130%;
  /* do not allow horizontal scroll */
  overflow-x: hidden;
}

.div_intro {
  display: flex;
  justify-content: flex-start;
}

.div_outro {
  display: flex;
  justify-content: flex-end;
}

.Intro_hot {
  position: relative;
  background: rgba(165, 42, 42, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  margin-bottom: 80px;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 0 20px rgba(0, 0, 0, .65), 0 0 40px rgba(0, 0, 0, .45), 0 2px 4px rgba(0, 0, 0, .75);
  width: 600px;
  height: 50px;

  @media (max-width: 800px) {
    font-size: 50px;
  }

  @media (max-width: 450px) {
    font-size: 40px;
  }

}

.outro_hot {
  position: relative;
  background: rgba(165, 42, 42, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  margin-bottom: 80px;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 0 20px rgba(0, 0, 0, .65), 0 0 40px rgba(0, 0, 0, .45), 0 2px 4px rgba(0, 0, 0, .75);
  width: 450px;
  height: 50px;

  @media (max-width: 800px) {
    font-size: 50px;
  }

  @media (max-width: 450px) {
    font-size: 40px;
  }
}

ul {
  list-style-type: none;

}

.drink {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cost {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hot_list {
  position: relative;
  background: rgba(0, 0, 0, 0.6);

  font-size: 20px;
  color: #fff;
  width: 450px;
  height: 150px;

  @media (max-width: 800px) {
    font-size: 50px;
  }

  @media (max-width: 450px) {
    font-size: 40px;
  }
}