@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Rouge+Script&display=swap');

h1{
    font-family: "Rouge Script", cursive;
}

article{
    font-family: "Cherry Bomb One", system-ui;
}