header{
    
    position: fixed;
    top: 0;

background: rgba(165, 42, 42, 0.8);

    padding: 20px;
    display: flex;
    justify-content: space-around;

    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding: 0 15px;
        font-weight: bold;
    }

}