header{
    
    position: fixed;
    top: 0;
    background-color: brown;
    opacity: 0.5;
    padding: 20px;
    display: flex;
    justify-content: space-around;

    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding: 0 15px;
    }
}